</section>
</main>
<div class="circle1"></div>
<div class="circle2"></div>
</body>
<footer>
    <p class="copyright">© Copyrights 2023 ECE Alwa - <span style="font-family: 'Lobster', cursive;">Ahmed Barazenji.</span></p>
</footer>

</html>