<%- include('partials/header') %> 
        <section class="About-pannel">
            <center>
                <h1 style="position: static;">The founders of <span class="arabic">علوة الالكترونيك</span></h1>

                <div class="memebers">
                    <div class="eyas">
                        <img class="images"
                            src="https://preview.redd.it/qveh12whom491.jpg?width=640&crop=smart&auto=webp&s=f3a980504924b61e36d01dc78b8b9bbfbfd73357"
                            alt="Eyas">
                        <h2 class="arabic">Eyas Alrawi</h2>
                    </div>
                    <div class="Ahmed">
                        <img class="images"
                            src="https://i.pinimg.com/originals/f5/36/f3/f536f31e5c395460ba12026812760ab5.png"
                            alt="Ahmed">
                        <h2 class="arabic">Ahmed Barazenji</h2>
                    </div>
                    <div class="Mohammed">
                        <img class="images"
                            src="https://i.pinimg.com/736x/de/8a/ad/de8aad77ce7a1efc478234ab9ca1d7c8.jpg"
                            alt="Mohammed">
                        <h2 class="arabic">Mohammed Qais</h2>
                    </div>
                </div>
            </center>
<%- include('partials/footer') %>