<%- include('partials/tobe-header.ejs') %> 
        <div class="wrapper">
            <div class="static"><%= projectName %> </div>
            <ul class="dynamic">
                <li><span>is in <%= phase %></span></li>
            </ul>
        </div>  
</body>
</html>